<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>Login Page</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <link rel="stylesheet" href="static/css/login.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    </style>
</head>
<body>
    <section class="container forms">
        <div class="form login">
            <div class="form-content">
                <header>Sign Up</header>
                <form action="signup" method="post">
                    {% csrf_token %} 
                    <div class="field input-field">
                        <input type="text" placeholder="ID" class="input" id="uid" name="uid" autocomplete="off" required>
                    </div>

                    <div class="field input-field">
                        <input type="text" placeholder="Name" class="input" id="username" name="name" required>
                    </div>

                    <div class="field input-field">
                        <input type="email" placeholder="Email" class="input" id="email" name="email" autocomplete="off" required>
                    </div>

                    <div class="field input-field">
                        <input type="password" placeholder="Password" class="password" id="password1" name="password1" required>
                        <i class='bx bx-hide eye-icon'></i>
                    </div>

                    <div class="field input-field">
                        <input type="password" placeholder="Confirm password" class="password" id="password2" name="password2" required>
                        <i class='bx bx-hide eye-icon'></i>
                    </div>

                    <div class="form-link">
                        <a href="{% url 'update_password' %}" class="forgot-pass">Forgot password?</a>
                    </div>

                    <div class="field button-field">
                        <button type="submit" value="Submit">Signup</button>
                    </div>
                </form>

                <div class="form-link">
                    <span>Already have an account? <a href="{% url 'login' %}" class="link signup-link">Login</a></span>
                </div>
            </div>

           <!--- <div class="line"></div>

            <div class="media-options">
                <a href="#" class="field facebook">
                    <i class='bx bxl-facebook facebook-icon'></i>
                    <span>Login with Facebook</span>
                </a>
            </div>

            <div class="media-options">
                <a href="#" class="field google">
                    <img src="images/google.png" alt="" class="google-img">
                    <span>Login with Google</span>
                </a>---->
            </div>

        </div>
    <script>
        const forms = document.querySelector(".forms"),
      pwShowHide = document.querySelectorAll(".eye-icon"),
      links = document.querySelectorAll(".link");

pwShowHide.forEach(eyeIcon => {
    eyeIcon.addEventListener("click", () => {
        let pwFields = eyeIcon.parentElement.parentElement.querySelectorAll(".password");
        
        pwFields.forEach(password => {
            if(password.type === "password"){
                password.type = "text";
                eyeIcon.classList.replace("bx-hide", "bx-show");
                return;
            }
            password.type = "password";
            eyeIcon.classList.replace("bx-show", "bx-hide");
        })
        
    })
})   
    </script>
</body>
</html>
